*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    margin-top: 80px;
}
.first_section{
    max-width: 600px;
    padding: 20px;
    background-color: aliceblue;
    margin: 0 auto;
    box-shadow: 4px 3px 5px rgb(148, 124, 26);
    border-radius: 10px;
}
.hed{
    font-size: 30px;
}
.hed span{
    font-size: 20px;
}
.control{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.form_contain{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 15px;
    margin-bottom: 5px;
}

input,select,textarea{
    padding: 6px 10px;
    border: 1px solid #ccc;
    font-size: 15px;
    border-radius: 5px;
}
.buton_continer{

    display: flex;
    margin-top: 20px;
}
button{
    background-color: red;
    border: 2px solid;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
    font-size: 18px;
}
button:hover{
    background-color: blueviolet;
    transition: .3s ease-in-out;
}